<%= form_tag('/coupons') do %>
  <label>Coupon Form:</label><br>
  <%= text_field_tag 'coupon[coupon_code]' %>Coupon Code<br>
  <%= text_field_tag 'coupon[store]' %>Store<br>
  <%= submit_tag "Submit Coupon" %>
<% end %>